.wrapper{
  // display: flex;
}

.container{
  width: 90%;
}

#map {
  flex : 0 0 450px;
  height: 100vh;
  // position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
.show {
  height: calc(110vh - 110px);
}

.filtre{
  width: 100%;
  text-align: center;
  // display: flex;
  // justify-content: space-around;
  margin-top: 40px;
}

#select_enseigne{
  // justify-content: center;
}

#select_enseigne {

}
.scrollToTop {
  display: none;
  position: fixed;
  bottom: 162px;
  z-index: 99;
  font-size: 12px;
  font-weight: bolder;
  border-color: black;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #a8a8a8;
  opacity: 0.8;
  text-decoration: none
}
.scrollToTop:hover {
  opacity: 1.2;
  text-decoration: none;
  color: black;
}

.block-cards {
  margin-top: 20px;
}
