.wrapper{
  // display: flex;
}

.container{
  width: 90%;
}

#map {
  flex : 0 0 450px;
  height: 100vh;
  // position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
.show {
  height: calc(110vh - 110px);
}

.filtre{
  width: 100%;
  // display: flex;
  // justify-content: space-around;
  margin-left: 20%;
  margin-top: 20px;
}

#select_enseigne{
  // justify-content: center;
}

#select_enseigne {

}
.buttontop {
  color: #a8a8a8;
  border: 1px solid #a8a8a8;
  padding: 0px 10px;
  border-radius: 2px;
  font-weight: bolder;
  opacity: 0.8;
  background-color: transparent;
  text-decoration: none;
  justify-content: center;

}
.buttontop:hover {
  opacity: 1.2;
  text-decoration: none;
  color: #a8a8a8;
}
