// Specific CSS for your home-page
.main {
  height: calc(91.7vh);
  color: white;
}
.row h1 {
  font-size: 80px;
  margin-top: 50px;
}
.row h3 {
  font-size: 14px;
  text-align: center;
}
.btn-medium {
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bolder;
  opacity: 0.8;
  background-color: transparent;
}
.btn-medium:hover {
  opacity: 1.5;
  text-decoration: none;
  color: white;
}
.banner {
  background-size: cover;
  height: 100%;
  width: 100%;
}
.footer-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
}
.footer-home-links {
  display: flex;
  align-items: center;
}
.footer-home-links a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 10px;
}
.footer-home-links a:hover {
  opacity: 1.5;
}
.footer-home-copyrights {
  font-size: 14px;
  color: white;
}
.footer-home-quicks {
  font-size: 16px;
  color: white;
}
