<h1>Articles#index</h1>

<!-- ici render la forme de recherche, incluse dans le composant qui est tout en haut de la page -->

<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url(<%= article.images.first.url %>);">
            <div class="card-description">
              <h2><%= article.title %></h2>
            </div>
            <!-- card-user -->
            <%= link_to "", search_article_path(article), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
