<div class="wrapper">
  <div class="footer-bar">
    <div class="footer-links">
      <a href="https://www.instagram.com/quickfindapp/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.facebook.com/quickfindapp/"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/Quickfindapp"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
  <div class="footer">
    <div class="footer-copyright">
      <em><p>Get the right cloth at the right place</p></em>
    </div>
  </div>
  <div class="footer-quick"> <strong>QuickFind</strong></div>
</div>
