<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 20%), url('http://res.cloudinary.com/dwoel6eny/image/upload/v1528365731/centre.jpg');">
<div class="container main">
    <div class="row">
      <h1>QuickFind</h1>
      <em><h3>Get the right cloth at the right place</h3></em>
      <%= render 'form' %>
    </div>
  </div>
</div>
