.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0px 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 20px;

}
.footer-links a:hover {
  opacity: 1.5;
}
.footer-copyright{
  font-size: 14px;
  color: gray;
  height: 10px
}
.footer-quick {
  font-size: 16px;
  color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}
.footer-bar {
  background-color: gray;
  display: flex;
  justify-content: center;
}
