.navbar-search {
  // border: solid 5px black;
  box-shadow: 5px 10px 10px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 110px;
  // padding: 10px 150px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  background-color: #a8a8a8;
}

.navbar-search-left {
  // border: solid 1px white;
  width: 50%; //400px;
}

.navbar-search-form-top {
  display: flex;
}

.navbar-search-form-bottom {
  display: flex;
  margin-bottom: 30px;
  // border: solid 1px white;
}

.navbar-search-form-submit {
  border: solid 1px black;
  margin: 10px;
  margin-top: 20px;
  // padding-top: 10px;
  height: 20px;
}

abbr[title="required"] {
  display: none;
}


.inline{
  margin-top: 30px;
}

.center {
  text-align: center;
}

.center-img {
  margin: auto;
}

.icon {
  background: none;
  background-color: #A8A8A8;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  width: 110px;
  height: 40px;
}
